<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dsandberg.crocodirection"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-sdk android:minSdkVersion="10"/>
    <application android:label="@string/app_name" android:name="CrocoApplication" android:theme="@android:style/Theme.NoTitleBar">

        <activity android:name=".ScanMarkerActivity"
                  android:label="@string/app_name" android:clearTaskOnLaunch="true" android:screenOrientation="landscape" android:noHistory="true">
            <intent-filter>

            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true" />
</manifest> 
